.MainContainer, .MainContainerALT {
    margin-top: 5%;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    text-align: center;
    overflow: hidden;
}

.MainContainerALT {
    display: flex;
}

.HomeContainer {
    position: relative;
    background-color: white;
    margin-top: 320px;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.AboutContainer {
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -3%;
    overflow-x: hidden;
    background-image: url('../AboutImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px) contrast(60%);
}

.TextContainer, .Heading1, .Heading2, .MSContainer {
    position: relative;
    z-index: 1;
}

.TextContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    font-size: 30px;
}

.Heading1, .Heading3 {
    text-align: center;
    color: white;
}

.Heading2 {
    text-align: left;
    margin-left: 12%;
    padding-top: 2%;
    color: black;
}

.MSContainer {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.underline {
    font-weight: bold;
}

.GalleryContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.gridImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imageWrapper {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.imageWrapper-0, .imageWrapper-1 {
    grid-row: span 3;
    grid-column: span 3;
}

.imageWrapper-2, .imageWrapper-3, .imageWrapper-4 {
    grid-row: span 2;
    grid-column: span 2;
}

.QuotesContainer {
    padding-top: 0;
    padding-left: 12%;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: left;
}

.qMessage, .qInput {
    padding: 12px 20px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.qMessage {
    text-align: left;
    height: 200px;
    resize: none;
    width: 50%;
}

.qButton {
    margin-top: 30px;
    align-items: center;
    background-color: #fa6400;
    color: #fff;
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    border-radius: .25rem;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    transition: all 250ms;
}

.qButton:hover, .qButton:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.qButton:hover {
    transform: translateY(-1px);
}

.qButton:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.mySlides {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: none;
    margin: auto;
}

.w3-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 16px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.w3-display-left {
    left: 0;
}

.w3-display-right {
    right: 0;
}

.Hero-Image {
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    height: 40%;
    background-image: url('../HomeImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0px) contrast(70%);
}

.Hero-Text {
    margin: 50px;
}

.Heading4 {
    position: relative;
    text-align: center;
    color: white;
    font-size: x-large;
    font-style: italic;
    top: -30px;
}

.col {
    color: white;
    height: 100%;
    width: 100%;
    background-color: #112432;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.col:nth-child(2) {
    background-color: #4d1635;
}

.residential {
    background: linear-gradient(135deg, #83a4d4, #b6fbff);
}

.commercial {
    background: linear-gradient(135deg, #f6b93b, #e58e26);
}

.col h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.col p {
    margin: 0 15px 20px 15px;
    font-size: 18px;
    line-height: 1.4;
}
