.MainContainer {
    margin-top: 5%;
    position: relative;  /* Set to relative to position other elements inside it */
    width: 100%;
    min-height: 100vh;   /* Ensure it occupies the full height of the viewport */
    background-color: white;
    text-align: center;
    overflow-x: hidden;
    /*overflow: visible;*/
}

.MainContainerALT {
    margin-top: 5%;
    position: relative;  /* Set to relative to position other elements inside it */
    width: 100%;
    min-height: 100vh;   /* Ensure it occupies the full height of the viewport */
    background-color: white;
    text-align: center;
    display: flex;
    overflow-x: hidden;
    /*overflow: visible;*/
}

.HomeContainer {
    position: relative;
    background-color: white;
    margin-top: 320px;
    display: flex;
    overflow: hidden;
    width: 100%;
    /*padding-bottom: 550px;*/
}

.AboutContainer {
    position: absolute;  /* Position it absolutely to fill the entire MainContainer */
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -3%;

    background-image: url('../AboutImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Adding the blur effect */
    filter: blur(5px) contrast(60%);   /* Adjust the blur value as needed */
}

.TextContainer {
    position: relative; /* Ensure it's above the AboutContainer */
    z-index: 1;         /* Any positive z-index ensures it's above the AboutContainer */

    max-width: 800px;
    margin: 0 auto;     /* Centering the content */
    padding: 20px;
    color: white;
    /*text-shadow: 1px 1px 8px black;*/
    font-size: 30px;
}

.Heading1 {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1; /* Ensure it's above the AboutContainer */
}

.Heading2 {
    position: relative;
    text-align: left;
    margin-left: 12%;
    padding-top: 2%;
    color: black;
    z-index: 1; /* Ensure it's above the AboutContainer */
}


.MSContainer {
    position: relative;
    text-align: center;
    color: white;
    text-decoration: underline;
    z-index: 1;
}

.italic {
    font-style: italic;
}

.underline {
    font-weight: bold;
}

.GalleryContainer {
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: -12%;
    overflow: hidden; /* Hide images out of bounds */
    /*border: 2px solid #ccc; !* Optional: Add a border *!*/
}

.QuotesContainer {
    padding-top: 0px;
    padding-left: 12%;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden; /* Hide images out of bounds */
    text-align: left;
    /*border: 2px solid #ccc; !* Optional: Add a border *!*/
}

.FormClass {
}

.qMessage{
    display: inline-block;
    margin-top: 30px;
    text-align: left;
    height: 200px;
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    width: 50%;

}

.qInput{
    padding: 12px 20px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 40px;
    background-color: #f8f8f8;
    font-size: 16px;
}


.qButton {
    margin-top: 30px;
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.qButton:hover,
.qButton:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.qButton:hover {
    transform: translateY(-1px);
}

.qButton:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.mySlides {

    text-align: center;
    display: none; /* Hide images by default */
    width: 100%;
    height: 100%;
    object-fit: contain ;
}

.w3-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 16px;
    font-size: 24px;
    border: none;
}

.w3-display-left {
    left: 0;
}

.w3-display-right {
    right: 0;
}

.Hero-Image{
    position: absolute;  /* Position it absolutely to fill the entire MainContainer */
    top: -5%;
    left: -5%;
    right: -5%;
    height: 40%;
    scale: 100%;
    background-image: url('../HomeImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Adding the blur effect */
    filter: blur(0px) contrast(70%);
}

.Hero-Text {
    margin: 50px;
}

.Heading3 {
    position: relative;
    text-align: center;
    color: white;
    font-size: xxx-large;
    z-index: 1; /* Ensure it's above the AboutContainer */
}

.Heading4 {
    position: relative;
    text-align: center;
    color: white;
    font-size: x-large;
    font-style: italic;
    top: -30px;
    z-index: 1; /* Ensure it's above the AboutContainer */
}


.col{
    color: white;
    height: 100%;
    width: 100%;
    background-color: #112432;
}
.col:nth-child(2){
    background-color: #4d1635;

}

.DPE_CS {
   image: url('HomeImages/DPE_Commercial.png');
    background-color: red;
}

.DPE_IS {

}

