.footer {
    background-color: #023047;
    z-index: 20;
    height: 130px;
    position: relative;
    display: flex;
    justify-content: center;  /* horizontally center content */
    align-items: center;      /* vertically center content */
    width: 100%;
    color: #fff;              /* white text color for better readability on dark background */
}

.footer-content {
    text-align: center;
    max-width: 200%;  /* optional max-width to restrict content width */
}

/* Add any additional styles for links, icons, or other footer elements here */
